@keyframes BJF2dGlRCz_SJAqLeCAG_Animation {
	9.09% {
		transform: scale(1, 1);
	}
	18.18% {
		transform: scale(2, 2);
	}
	36.36% {
		transform: scale(1, 1);
	}
	0% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}
@keyframes SJWx2dMeCCM_Animation {
	0% {
		opacity: 1;
	}
	36.36% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes SJd2OfgARG_B1OLIg0Af_Animation {
	18.18% {
		transform: scale(1, 1);
	}
	27.27% {
		transform: scale(2, 2);
	}
	45.45% {
		transform: scale(1, 1);
	}
	0% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}
@keyframes S1D3_zg0AM_B1bEIgCCz_Animation {
	27.27% {
		transform: scale(1, 1);
	}
	36.36% {
		transform: scale(2, 2);
	}
	54.55% {
		transform: scale(1, 1);
	}
	0% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}

@keyframes HyL3OfeC0f_HJ2qSlCAz_Animation {
	36.36% {
		transform: scale(1, 1);
	}
	45.45% {
		transform: scale(2, 2);
	}
	63.64% {
		transform: scale(1, 1);
	}
	0% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}
@keyframes SyHh_zxARG_Hk8hVgA0z_Animation {
	45.45% {
		transform: scale(1, 1);
	}
	54.55% {
		transform: scale(2, 2);
	}
	72.73% {
		transform: scale(1, 1);
	}
	0% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}
@keyframes HJE3_zlCCf_r1OuExCRf_Animation {
	54.55% {
		transform: scale(1, 1);
	}
	63.64% {
		transform: scale(2, 2);
	}
	81.82% {
		transform: scale(1, 1);
	}
	0% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}

@keyframes BkXn_MgAAf_ryEsQxARf_Animation {
	63.64% {
		transform: scale(1, 1);
	}
	72.73% {
		transform: scale(2, 2);
	}
	90.91% {
		transform: scale(1, 1);
	}
	0% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}
@keyframes rJMhuMe00f_Sy1EQlRAz_Animation {
	72.73% {
		transform: scale(1, 1);
	}
	81.82% {
		transform: scale(2, 2);
	}
	100% {
		transform: scale(1, 1);
	}
	0% {
		transform: scale(1, 1);
	}
}
@keyframes SJxnOGgR0f_Animation {
	0% {
		opacity: 0;
	}
	27.27% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

#logo-animation * {
	animation-duration: 1.1s;
	animation-play-state: running;
	animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#ryqh_flCCf {
	transform: translate(67.000000px, 0.000000px);
}

#HyshOfeA0M {
	fill: #31D3AC;
}

#Byn3_fgC0G {
	fill: #2ADDAA;
}

#S16huGgAAM {
	fill: #2ADCAA;
}

#HyAnOzx0AM {
	fill: url(#linearGradient-1);
}

#rJkxnuflACz {
	fill: #299393;
}

#Hyel2OfxRCz {
	fill: #367E87;
}

#SJWx2dMeCCM {
	transform: translate(67.000000px, 0.000000px);
	fill: #000000;
	animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
	transform-origin: 50% 50%;
	transform-box: fill-box;
	opacity: 1;
}

#logo-animation:hover #SJWx2dMeCCM {
	animation-name: SJWx2dMeCCM_Animation;
	animation-fill-mode: forwards;
}

#SJxnOGgR0f {
	transform-origin: 50% 50%;
	transform-box: fill-box;
	opacity: 0;
}

#logo-animation:hover #SJxnOGgR0f {
	animation-name: SJxnOGgR0f_Animation;
	animation-fill-mode: forwards;
}

#rJMhuMe00f_Sy1EQlRAz {
	transform-origin: 50% 50%;
	transform-box: fill-box;
	transform: scale(1, 1);
}

#logo-animation:hover #rJMhuMe00f_Sy1EQlRAz {
	animation-name: rJMhuMe00f_Sy1EQlRAz_Animation;
	animation-fill-mode: forwards;
}

#BkXn_MgAAf_ryEsQxARf {
	transform-origin: 50% 50%;
	transform-box: fill-box;
	transform: scale(1, 1);
}

#logo-animation:hover #BkXn_MgAAf_ryEsQxARf {
	animation-name: BkXn_MgAAf_ryEsQxARf_Animation;
	animation-fill-mode: forwards;
}

#HJE3_zlCCf_r1OuExCRf {
	transform-origin: 50% 50%;
	transform-box: fill-box;
	transform: scale(1, 1);
}

#logo-animation:hover #HJE3_zlCCf_r1OuExCRf {
	animation-name: HJE3_zlCCf_r1OuExCRf_Animation;
	animation-fill-mode: forwards;
}

#SyHh_zxARG_Hk8hVgA0z {
	transform-origin: 50% 50%;
	transform-box: fill-box;
	transform: scale(1, 1);
}

#logo-animation:hover #SyHh_zxARG_Hk8hVgA0z {
	animation-name: SyHh_zxARG_Hk8hVgA0z_Animation;
	animation-fill-mode: forwards;
}

#HyL3OfeC0f_HJ2qSlCAz {
	transform-origin: 50% 50%;
	transform-box: fill-box;
	transform: scale(1, 1);
}

#logo-animation:hover #HyL3OfeC0f_HJ2qSlCAz {
	animation-name: HyL3OfeC0f_HJ2qSlCAz_Animation;
	animation-fill-mode: forwards;
}

#S1D3_zg0AM_B1bEIgCCz {
	transform-origin: 50% 50%;
	transform-box: fill-box;
	transform: scale(1, 1);
}

#logo-animation:hover #S1D3_zg0AM_B1bEIgCCz {
	animation-name: S1D3_zg0AM_B1bEIgCCz_Animation;
	animation-fill-mode: forwards;
}

#SJd2OfgARG_B1OLIg0Af {
	transform-origin: 50% 50%;
	transform-box: fill-box;
	transform: scale(1, 1);
}

#logo-animation:hover #SJd2OfgARG_B1OLIg0Af {
	animation-name: SJd2OfgARG_B1OLIg0Af_Animation;
	animation-fill-mode: forwards;
}

#BJF2dGlRCz_SJAqLeCAG {
	transform-origin: 50% 50%;
	transform-box: fill-box;
	transform: scale(1, 1);
}

#logo-animation:hover #BJF2dGlRCz_SJAqLeCAG {
	animation-name: BJF2dGlRCz_SJAqLeCAG_Animation;
	animation-fill-mode: forwards;
}



